# ── Archives ─────────────────────────────
*.zip

# ── Images ───────────────────────────────
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.svg
*.webp
*.ico

# ── Ignores for datasets folder ───────────────────────────────
datasets/*/

# ── Virtual environments ───────────────────────────────
env/
venv/
ENV/
env.bak/
venv.bak/
