# ── Archives ─────────────────────────────
*.zip

# ── Images ───────────────────────────────
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.svg
*.webp
*.ico

# ── Directories ───────────────────────────────
runs
logs
ultralytics
wandb
cs231n_eye_in_the_sky
datasets/*/

# ── Virtual environments ───────────────────────────────
env/
venv/
ENV/
env.bak/
venv.bak/
